body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

#container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#weather-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

#weather-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bf0;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
